/* font */
@font-face {
  src: url('../fonts/D2Coding-Ver1.3.2-20180524.ttf');
  font-family: 'D2Coding', sans-serif;
}
/* root */
:root {
  --color-main-1: #cab3a4;
  --color-main-2: #add3b0;
  --color-main-3: #aeb5db;
  --color-main-4: #c6bde2;
  --color-main-5: #dab4da;
}
/* :root {
  --color-main-1: #c7268c;
  --color-main-2: #ff94a1;
  --color-main-3: #af63ff;
  --color-main-4: #6a3b8a;
  --color-main-5: #db50c4;
}
:root {
  --color-main-1: #9f5e37;
  --color-main-2: #9f9d99;
  --color-main-3: #7eaed9;
  --color-main-4: #afaba7;
  --color-main-5: #3e424a;
}
:root {
  --color-main-1: #40040f;
  --color-main-2: #8c5cf2;
  --color-main-3: #7350f2;
  --color-main-4: #147dd9;
  --color-main-5: #f2e18d;
}
:root {
  --color-main-1: #212640;
  --color-main-2: #4f588c;
  --color-main-3: #359af2;
  --color-main-4: #40403f;
  --color-main-5: #ffffff;
} */

/* 공통 */
.header {
  display: flex;
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
  z-index: 1;
}

.footer {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main-1);
  bottom: 0;
}

a {
  text-decoration: none;
}

p {
  padding: 10px;
}

article {
}

.background {
  margin-top: -50px;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: relative;
  background: linear-gradient(
    124deg,
    var(--color-main-1),
    var(--color-main-2),
    var(--color-main-3),
    var(--color-main-4),
    var(--color-main-5)
  );
  background-size: 1800% 1800%;
  animation: rainbow 5s ease infinite;

  /* 크로싱 브라우저 */
  /* 크롬, 사파리 */
  -webkit-animation: rainbow 5s ease infinite;
  /* 파이어폭스 */
  -moz-animation: rainbow 5s ease infinite;
  /* 오페라 */
  -o-animation: rainbow 5s ease infinite;
  /* IE ^^ 무시하자 */
  /* -ms-animation: rainbow 18s ease infinite; */
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

/* index.html */
.section-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.box-manual {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border-radius: 50px;
  padding: 20px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.btn-menual {
  position: absolute;
  border: none;
  width: 80px;
  height: 80px;
  right: 0;
  bottom: 0;
  color: var(--color-main-1);
  cursor: pointer;
  background-color: white;
  border-radius: 50px 0px 45px 0px;
  transition: 0.5s all;
}

.btn-menual:hover {
  color: white;
  background-color: var(--color-main-1);
}

.btn-join {
  padding: 20px;
  margin-top: 20px;
  color: white;
  background-color: var(--color-main-1);
  border-radius: 10px;
  transition: 0.5s all;
}

.btn-join:hover {
  color: var(--color-main-1);
  background-color: white;
}

/* test.html */
.section-test {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.timer {
  position: absolute;
  display: flex;
  top: 15%;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 80px;
  background-color: rgb(235, 224, 240);
  border-radius: 10px;
  color: black;
  font-size: 32px;
}

.btn-start {
  border: none;
  border-radius: 20px;
  padding: 20px;
  top: 50%;
  position: absolute;
  color: white;
  background-color: var(--color-main-1);
  cursor: pointer;
  z-index: 1;
  transition: 0.5s all;
}

.btn-start:hover {
  color: var(--color-main-1);
  background-color: white;
}

.box-question {
  position: absolute;
  top: 30%;
  width: 100%;
}

.question-box {
  display: block;
  width: 400px;
  height: 300px;
  background-color: rgb(223, 233, 251);
  border-radius: 20px 20px 0 0;
  padding: 20px 30px;
  margin: 0 auto;
  border: none;
  font-family: 'D2Coding', sans-serif;
  line-height: 25px;
  overflow-y: scroll;
  white-space: pre-wrap;
}

.answer-wrap {
  padding: 0;
  width: 460px;
  margin: 0 auto;
}

.answer-wrap label {
  display: none;
}

.input-box {
  border: none;
  width: 340px;
  height: 50px;
  border-radius: 0 0 0 20px;
  padding: 5px 20px;
}

.input-box:focus {
  outline: none;
}

.btn-submit {
  width: 80px;
  height: 60px;
  background-color: var(--color-main-1);
  color: white;
  border: none;
  margin: 0 -7px;
  padding: 0;
  border-radius: 0 0 20px 0;
  cursor: pointer;
  transition: 0.2s all;
}

.btn-submit:hover {
  background-color: var(--color-main-5);
  color: white;
}

/* .btn-next:hover {
  background-color: cornflowerblue;
} */

.right-answer-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 460px;
  margin: 5px auto;
  padding: 0px;
  background-color: white;
  height: 0;
  overflow: hidden;
  border-radius: 20px;
  transition: height 0.3s ease-out;
  box-shadow: inset 0px 0px 3px 3px rgb(192, 94, 77);
}

.right-answer-box span {
  margin: 20px;
  width: fit-content;
}

.right-answer-box input {
}

/* result.html */

.section-result {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.section-chart {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  top: 50px;
  justify-content: center;
  align-items: center;
}

.section-result {
  padding-top: 100px;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
}

table {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: antiquewhite;
}

th {
  font-weight: 500;
  background-color: #7ea4a7;
}

td {
  width: 200px;
  padding: 10px;
}

h1 {
  font-size: 30px;
  padding-bottom: 10px;
}

.slider-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-display-area {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.result-slider {
  position: relative;
  height: 400px;
  left: 0;
  transition: left 0.5s;
  /* width: (전체항목수 X 항목너비)px */
}

.slider_contents {
  float: left;
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 100%;
  background-color: white;
}

.slider_contents > div:nth-child(1) {
  height: 70%;
  box-shadow: inset 0 -10px 25px -10px #b3b3b3;
}

.slider_contents > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  position: relative;
  height: 15%;
  width: 100%;
  box-shadow: inset 0 -10px 3px -10px #b3b3b3;
}

.slider_contents > div:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  float: right;
  position: relative;
  height: 15%;
  width: 100%;
}

.btn-prev-slide {
  height: 100px;
  width: 100px;
  background: none;
  border: none;
  margin-right: 30px;
  color: cornflowerblue;
}

.btn-next-slide {
  height: 100px;
  width: 100px;
  background: none;
  border: none;
  margin-left: 30px;
  color: cornflowerblue;
}
